[Desktop Entry]
Type=Application
Name=wonderous
Comment=A new Flutter project.
Icon=com.gskinner.flutter.wonderous
Exec=/usr/bin/com.gskinner.flutter.wonderous
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=Internet;UserDirs
OrganizationName=com.gskinner.flutter
ApplicationName=Wonderous
